body{
	font-family: Segoe UI;
	font-size: 14px;
	color: #808080;
	
}

header{
	background-color: #000000;
	padding: 20px 0px;
	
		
}
#hero{
	background-image: url("../img/hero-home.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	color:#FFFFFF;
	padding:15% 0;
}

#hero h1{
	font-size: 70px;
	font-weight: 300;
	
	
}
#hero p{
	font-size: 18px;
}
#hero .btn{
	border-radius: 0;
	padding: 15px 30px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	
}
#hero .btn:hover{
	background-color: #000000;
	color: #FFFFFF;
	border: 2px solid #000000;
	
}

.titulo{
	font-size: 45px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 30px;
	color: #222222;
}

.section{
	padding: 5% 0;
	
	

}

#we-are h5{
	font-size: 12px;
	text-align: center;
	color: #000000;
	font-style: oblique;
	
}

#we-are p{
	font-size: 18px;
	text-align: center;
	width: 45%;
	margin: auto;
	
}

.btn-oshine{
	background-color: #28d1a2;
	color: #FFFFFF;
	border-radius: 0;
	font-size: 13px;
	text-transform: capitalize;
	font-weight: 500;
	padding: 15px 40px;
	
}

.bnt-oshine:hover{
	backface-color: #fff;
	color: #000000;
	border:1px solid #000000;
}

#stunning{
	background-color: #F4F4F4;
	text-align: center;
	
}

.subtitulo{
	font-size: 14px;
	color: #757575;
	text-align: center;
	margin-bottom: 40px;
	font-style:italic;
}
#stunning h4{
	font-size: 14px;
	text-transform: uppercase;
	color: #222;
	margin-bottom: 20px;

}

#stunning p{
	font-size: 15px;
	
}

#stunning i{
	color:#28d1a2;
	font-size: 40px;
	margin-bottom: 30px;
	
}
